* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: rgb(4, 72, 71);
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.header-title {
  margin-left: 10px;
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
}

.search-input {
  font-family: "Montserrat", sans-serif;
  height: 20px;
  margin: 0 20px;
  padding: 14px;
  border-radius: 15px;
  border: none;
}

.header-container {
  color: whitesmoke;
}

.header-container p {
  margin: 0;
}

.product-section {
  margin-left: 10px;
}

.welcome-sentence {
  font-size: 18px;
}

.weekday {
  font-weight: bold;
}

.product-info {
  margin: 15px;
  padding: 10px;
  width: 240px;
  border: 3.5px solid rgb(84, 84, 84);
  border-radius: 10px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  margin-top: 10px;
}

.product-price-before {
  color: rgb(70, 70, 70);
}

.product-price-now {
  font-weight: bold;
}

.add-to-cart-button {
  font-size: 14px;
  font-weight: bold;
  color: rgb(4, 72, 71);
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 10px 0;
  padding: 8px;
  border: 2px solid rgb(4, 72, 71);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.add-to-cart-button:hover {
  background-color: rgb(4, 72, 71);
  color: white;
}
